.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000f1;
    color: white;
  }
  
  .header .logo {
    font-size: 24px;
  }
  
  .header nav ul {
    display: flex;
    list-style: none;
  }
  
  .header nav ul li {
    margin: 0 10px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
  .img{
width: 160px;
padding-left:50px ;
align-self: center;
  }
  .naav{
    padding-right: 50px;
    align-self: center;
  }